.header{
    padding:20px;
    display: flex;
    justify-content: space-around;
}
.content{
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.63);
}
button{
    padding: 10px 30px;
    border: 1px solid rgba(128, 128, 128, 0.63);
    font-weight: bolder;
}
button:focus{
    background-color: black;
    color: white;
}
